
body {
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Ubuntu, "Open Sans", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #071013;
    font-weight:400;
}

a {
    /* color: #8C1515; */
    color: #bf5700;
}

a:hover {
    text-decoration: underline;
    color: #050517;
}

h1,
h2,
h3 {
    margin-top: 5%;
    margin-bottom: 1.5%;
	color: hsl(27, 100%, 37%);
}


h2 code {
  font-family: Consolas,"courier new";
  /* background-color: #f1f1f1; */
  /* background-color:  #8C1515; */
  background-color: #bf5700;
  color: white;
  padding: 2px;
}

#TableOfContents ul {
    margin: auto;
    padding-left: 2%;
    padding-top: 0%;
}
#TableOfContents {
    margin: auto;
}

.toc {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.body {
    margin: auto;
}

.h-100 {
    margin: auto;
}

.w-100 {
    margin: auto;
}

.main_color  {
    /* color: #8C1515; */
    color: #bf5700;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* margin-right: 5px; */
}

.icons  {
    /* color: #8C1515; */
    color: #bf5700;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-right: 5px; */
}


.secondary_color {
    color: #071013;
}

.email_color {
    color: #071013;
}

.secondary_font {
    font-family: 'Ubuntu Mono', serif;
}

.section-subtitle {
    font-family: 'Ubuntu Mono', serif;
}

#profile_picture  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 24%;
    height: auto;
    margin-top: 1%;
}

.about #full_name {
    /* font-size: x-large; */
    color: #071013;
    font-size: 30px;
}

.about .affiliations #title {
    padding-right: .5%;
}

.about .affiliations #name {
    padding-right: .5%;
}

.about #email {
    font-family: 'Ubuntu Mono', serif; 
    margin: auto;
}

.about .socials {
    /* font-size: small; */
    font-size: large;
    margin-bottom: 1%;
    margin-top: 1%;
}

.about .socials a {
    margin-left: .6%;
}

.about #blog_logo {
    font-size: smaller;
    margin-top: .2%;
}

.about .academia .degree_major {
    font-size: small;
}

.about .academia .other_info {
    font-size: small;
}

.course {
    margin-top: 1%;
}

.news {
    margin-top: 1.5%;
}

.news_list  {
    padding: 0%;
    list-style-type: none;
}

.news_list svg {
    margin-right: .5%;
}

.news_icon i {
    font-size: x-small;
    color: #071013;
}

.publications .publication {
    margin-top: 1.5%;
}

.publication .section-1 .publication-date {
    font-family: 'Ubuntu Mono', serif;
}

.publication .section-1 .publication-name {
    font-family: 'Ubuntu Mono', serif;
}


.publication .section-2 {
    font-family: 'Ubuntu Mono', serif;
    margin-top: -.1%;
    margin-bottom: .5%;
}


.publication .section-3 {
    margin-top: -.5%;
    font-family: 'Ubuntu Mono', serif;
    text-decoration: none;
}

.publication .section-3 a{
    padding: .15%;
}

.publication .section-3 a:hover {
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

    border-radius: 50%;
    background-color: #d64933;
    color: white;
}

.publication .separator {
    margin-left: -1%;
}

.projects .project {
    margin-top: 1.5%;
}

.project .section-2 a {
    padding: .8%;
    margin-left: -.1%;
}

.projects .project a{
    font-family: 'Ubuntu Mono', serif;
    padding: .15%;
}
.projects .project .section-2 a:hover {
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

    border-radius: 50%;
    background-color: #d64933;
    color: white;
}


.section-title {
    margin-top: 2.5%;
}

.copy_right {
    font-size: small;
}
.pagination {
    margin: auto;
}

.pagination a  {
    color: #8C1515;
    size: 100%;
}

.pagination .page_link  {
    font-weight: bold;
    background-color: #8C1515;
}

.page-item.active .page-link {
    border-color: black;
    background-color: #8C1515;
    font-weight: bold;
    color: white;
}

.tags_navigation {
    margin-bottom: .5%;
}

.tags_navigation .tag {
    font-family: 'Ubuntu Mono', serif;
    padding: .15%;
    background-color: #8C1515;
    color: aliceblue;
    padding-left: .5%;
    padding-right: .5%;
}

.tags_navigation .tag:hover {
    text-decoration: underline;
}

.blog_nav_bar {
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog_nav_bar .item {
    font-family: 'Ubuntu Mono', serif;
    padding: .15%;
    background-color: #8C1515;
    color: aliceblue;
    padding-left: .5%;
    padding-right: .5%;
}

.reading_time {
    font-family: 'Ubuntu Mono', serif;
    margin-top: -.5%;
    margin-bottom: 1%;
}

.read_more {
    margin-top: 1%;
}


.wrapper {
    max-width: 860px;
    margin: 0 auto;
}

.container {
    margin-top: 50px;
}

@media (max-width: 480px) {
    body {
      font-size: 14px;
    }
    #profile_picture  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 40%;
        height: auto;
        margin-top: 1%;
    }
}