<div class="link-wrapper-mobile">
    <a href="{{ "publications" | relative_url }}">[Publications]</a> <span style="margin-left: 5px;"></span><a href="/cv.pdf">[CV]</a> <span style="margin-left: 5px;"></span>
    <a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ" rel="me">[Google Scholar]</a> <span style="margin-left: 5px;"></span>
    <a href="https://github.com/BDHU" rel="me">[GitHub]</a> <span style="margin-left: 5px;"></span><a href="https://twitter.com/BodunHu" rel="me">[Twitter]</a> <span style="margin-left: 5px;"></span>
    <a href="/misc">[Misc.]</a> <span style="margin-left: 5px;"></span><a href="https://www.bodunhu.com/blog/" rel="me">[Blog]</a> <span style="margin-left: 5px;"></span><a href="https://pages.github.austin.utexas.edu/bh28324/notes/" rel="me">[Notes]</a>
</div>
