

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img class="img-circle" src="./images/avatar2.jpg">
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p class="addr">&#x2709;&nbsp;bodunhu@utexas.edu</p>

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

        <!-- <p class="addr">&#x2709;&nbsp;&#115;&#046;&#097;&#110;&#103;&#101;&#108;&#105;&#100;&#105;&#115;&#064;&#101;&#100;&#046;&#097;&#099;&#046;&#117;&#107;</p> -->

        <p>
          Department of Computer Science<br/>
          University of Texas at Austin<br/>
          2317 Speedway<br/>
          Austin, TX 78712-1757
        </p>

        <!-- {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        <ul class="link">
          <li><a href="{{ relative_url }}"><b>Home</b></a></li>
          <li><a href="{{ site.github.tar_url }}"><b>Publications</b></a></li>
          <li><a href="{{ relative_url }}"><b>CV</b></a> | <a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ"><b>Google Scholar</b></a></li>
          <li><a href="{{ relative_url }}"><b>GitHub</b></a> | <a href="https://scholar.google.com/citations?user=zR6afi8AAAAJ"><b>Twitter</b></a></li>
          <li><a href="https://www.bodunhu.com/blog/"><b>Blog</b></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
