{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/BDHU/bdhu.github.io" %}
{% assign theme_assets_base_url = "https://cdn.jsdelivr.net/gh/BDHU/minimalist" %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    {% if site.cdn.jsdelivr.enabled %}
      <link rel="preload" href="{{ assets_base_url }}{{ site.logo }}" as="image">
    {% else %}
      <link rel="preload" href="{{ site.logo | relative_url }}" as="image">
    {% endif %}

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          {% if site.logo %}
            {% if site.cdn.jsdelivr.enabled %}
              <img class="img-circle" src="{{ assets_base_url }}{{ site.logo }}" alt="Logo">
            {% else %}
              <img class="img-circle" src="{{ site.logo | relative_url }}" alt="Logo">
            {% endif %}
          {% endif %}

          {% if site.blank_title %}
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
          {% else %}
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          {% endif %}

          {% if site.email %}
            <p class="addr"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" style="vertical-align: -0.125em;" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><path d="m22 6l-10 7L2 6"/></g></svg>&nbsp;{{ site.email }}</p>
          {% endif %}

          <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
          <p>PhD student @ UT Austin UTNS lab. Working on systems for ML.</p>

          {% include sidebar.html %}

        </header>

        {% include links-mobile.html %}

        <div class="sidebar-footer">
          {%- include footer.html -%}
        </div>
      </div>
      <section>

      {{ content }}

      </section>
      <footer>
        {%- include footer.html -%}
      </footer>
    </div>
    {% if site.cdn.jsdelivr.enabled %}
      <script src="{{ theme_assets_base_url }}{{ "/assets/js/scale.fix.min.js" }}"></script>
    {% else %}
      <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% endif %}
  </body>
</html>
